body {
    background-color: darksalmon;
    font-family: cursive;
    font-size: x-large;
}

h1 {
    color: black;
    font-family: cursive;
}

h2 {
    color: darkmagenta;
    font-family: cursive;
}

footer {
    font-size: x-large;
    border: 1px solid black;
    background-color: thistle;
}
